.react-photo-gallery--gallery{
  transition: all .5s ease-in-out;
  .image-holder{
    display:flex;
    flex-direction:row-reverse;;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }
  span{
    margin-top: 10px;
    position: absolute;
    color: #ffffff99;
    font-size: 0px;
    z-index: 100;
    max-width: 0px;
    transition: all .5s ease-in-out;
  }
  img{
    filter: brightness(70%);
    z-index: 1;
    transition: all .5s ease-in-out;
    &:hover{
      transform: scale(1.1) skew(1.5deg);
      filter: brightness(94%);
      transition: all .7s ease-in-out;
      z-index:100;
      cursor:pointer;
       & ~ span{
        font-size: 14px;
        max-width: 250px;
        transition: all 1s ease-in-out;
      }
    }
  }
}